@media screen and (max-width:1243px){
    .our-story{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 20px;
    }
.story-caption{
max-width: 100%;
height: auto;
}

.our-story .story-image img{
    max-width: 100%;
    height: auto;   
}

.our-story{
    margin-top:80px;
}
ul{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}



.proud-services{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    

}

.funfact{
    background-color: #F7F0FF;
    height: auto !important;
}




    
}